

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #d3d3d3;
}

div {
  background: green;
}

/* Estilo para el h1 */
.h1  {
  color: #333; /* Color de texto negro */
  font-size: 24px; /* Tamaño de fuente de 24px */
  margin-bottom: 10px; /* Margen inferior de 10px */
}

#calculator_fg .flex {
    width: 100%;
    display: flex;
    margin: 0.3rem;
    padding: 0.4rem;
    gap: 0.5rem;
}

.elementor-element-b25d100 {
    --e-global-color-primary: #FFE636;
    --e-global-color-secondary: #0A0A0A;
    --e-global-color-text: #0A0A0A;
    --e-global-color-accent: #FBFBFF;
    --e-global-color-48c39ab1: #FFFFFF;
    --e-global-color-60af91f: #02ACE4;
    --e-global-color-6afc83e: #5AF4DE;
    --e-global-color-1c3dc1a: #FF931E;
    --e-global-color-fbfdd5e: #FFE105;
    --e-global-color-0556f3d: #16ADEB;
    --e-global-color-8311110: #787A7E;
    --e-global-typography-primary-font-size: 50px;
    --e-global-typography-primary-font-weight: bold;
    --e-global-typography-primary-line-height: 1em;
    --e-global-typography-primary-letter-spacing: 0px;
    --e-global-typography-secondary-font-size: 45px;
    --e-global-typography-secondary-font-weight: bold;
    --e-global-typography-secondary-line-height: 1.2em;
    --e-global-typography-text-font-size: 19px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.4em;
    --e-global-typography-text-letter-spacing: 0px;
    --e-global-typography-accent-font-size: 22px;
    --e-global-typography-accent-font-weight: bold;
    --e-global-typography-accent-line-height: 1.2em;
    --e-global-typography-accent-letter-spacing: 0px;
}

.elementor-kit-800271 {
    --e-global-color-primary: #FFE636;
    --e-global-color-secondary: #0A0A0A;
    --e-global-color-text: #0A0A0A;
    --e-global-color-accent: #FBFBFF;
    --e-global-color-48c39ab1: #FFFFFF;
    --e-global-color-60af91f: #02ACE4;
    --e-global-color-6afc83e: #5AF4DE;
    --e-global-color-1c3dc1a: #FF931E;
    --e-global-color-fbfdd5e: #FFE105;
    --e-global-color-0556f3d: #16ADEB;
    --e-global-color-8311110: #787A7E;
    --e-global-typography-primary-font-size: 50px;
    --e-global-typography-primary-font-weight: bold;
    --e-global-typography-primary-line-height: 1em;
    --e-global-typography-primary-letter-spacing: 0px;
    --e-global-typography-secondary-font-size: 45px;
    --e-global-typography-secondary-font-weight: bold;
    --e-global-typography-secondary-line-height: 1.2em;
    --e-global-typography-text-font-size: 19px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.4em;
    --e-global-typography-text-letter-spacing: 0px;
    --e-global-typography-accent-font-size: 22px;
    --e-global-typography-accent-font-weight: bold;
    --e-global-typography-accent-line-height: 1.2em;
    --e-global-typography-accent-letter-spacing: 0px;

    
}

 <div class="elementor-element elementor-element-b25d100 elementor-widget elementor-widget-html" data-id="b25d100" data-element_type="widget" id="calculator_fg" data-widget_type="html.default">
  <div class="elementor-widget-container">
    <div class="form-container">
      <!-- Sexo y Edad -->
      <div class="flex">
        <div>
          <label><span>Tu Sexo</span></label>
          <select id="gender" name="gender-input">
            <option disabled selected>Selecciona tu sexo</option>
            <option value="h">Hombre</option>
            <option value="m">Mujer</option>
          </select>
        </div>
        <div>
          <label><span>Tu Edad</span></label>
          <input id="age" type="text" min="10" max="99" maxlength="2" name="age-input" placeholder="Introduce tu edad" valid="true">
          <span id="invalidAge" style="display: none;"></span>
        </div>
      </div>
      <!-- Peso y Altura -->
      <div class="flex">
        <div>
          <label><span>Tu peso</span><sup></sup></label>
          <input id="weight" type="text" min="30" max="250" maxlength="6" name="weight-input" placeholder="Introduce el peso en kg." valid="true">
          <span id="invalidWeight" style="display: none;"></span>
        </div>
        <div>
          <label><span>Tu altura</span><sup></sup></label>
          <input id="height" type="text" min="50" max="400" maxlength="3" name="height-input" placeholder="Introduce la altura en cm." valid="true">
          <span id="invalidHeight" style="display: none;"></span>
        </div>
      </div>
      <!-- Nivel de actividad y Objetivo -->
      <div class="flex">
        <div>
          <label><span>¿Cuál es tu nivel de actividad física diaria?</span></label>
          <select id="activity-level" name="activity-level-input">
            <option disabled selected>Selecciona una opción</option>
            <option value="sedentario">Sedentario: poco o nada de ejercicio al día</option>
            <option value="ligera">Actividad ligera: ejercicio ligero o deporte 1-3 días a la semana</option>
            <option value="moderada">Actividad moderada: ejercicio moderado o deporte 3-5 días a la semana</option>
            <option value="intensa">Actividad intensa: ejercicio intenso o deporte 6-7 días a la semana</option>
            <option value="muy intensa">Actividad muy intensa: ejercicio muy intenso o trabajo físico y ejercicio diario</option>
          </select>
        </div>
      </div>
      <div class="flex">
        <div>
          <label><span>¿Cuál es tu objetivo?</span></label>
          <select id="goal" name="goal-input">
            <option disabled selected>Selecciona una opción</option>
            <option value="1">Aumentar masa muscular</option>
            <option value="2">Bajar grasa corporal</option>
            <option value="3">Mantener el peso actual</option>
          </select>
        </div>
      </div>
      <input id="calculateBtn" type="button" value="Calcular" class="btn-calculate">
      <span id="invalidForm" style="display: none; color: red; text-align: center;">Por favor, comprueba los campos inválidos o vacíos</span>
    </div>
    <p class="result"><strong id="showResult"></strong></p>
    <table class="table" id="result-table" style="visibility: hidden">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nivel</th>
          <th scope="col">kcal/día</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr id="light"><td class="result-type"></td><td class="results"></td></tr>
        <tr id="moderate"><td class="result-type"></td><td class="results"></td></tr>
        <tr id="aggressive"><td class="result-type"></td><td class="results"></td></tr>
        <tr id="very_aggressive"><td class="result-type"></td><td class="results"></td></tr>
      </tbody>
    </table>
    <a href=" https://calcdieta.ienva.org/?lang=es /" target="_blank"> sigue las siguientes recomendaciones</a>

    <script type="text/javascript">
      function() {
        const calculate = document.querySelector('#calculateBtn');
        const gender = document.querySelector('#gender');
        const age = document.querySelector('#age');
        const weight = document.querySelector('#weight');
        const height = document.querySelector('#height');
        const activityLevel = document.querySelector('#activity-level');
        const goal = document.querySelector('#goal');
        const result = document.querySelector('#showResult');
        const resultTable = document.querySelector('#result-table');

        calculate.addEventListener('click'), () => {
          const ageValue = parseInt(age.value);
          const weightValue = parseFloat(weight.value);
          const heightValue = parseInt(height.value);

          if isNaN(ageValue) || isNaN(weightValue) || isNaN=
        }}
