body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #d3d3d3;
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
}

/* Estilo para el h1 */
.h1 {
  color: #333;
  /* Color de texto negro */
  font-size: 24px;
  /* Tamaño de fuente de 24px */
  margin-bottom: 10px;
  /* Margen inferior de 10px */
  text-align: center;
  color: violet;
}

p {
  color: #555;
}

div {
  background: rgb(101, 217, 237);
}

td {
  padding: 1ch;
}

#calculator_fg .flex {
  width: 100%;
  display: flex;
  margin: 0.3rem;
  padding: 0.4rem;
  gap: 0.5rem;
}

.caja {
  padding: 2ch;

  --e-global-color-primary: #FFE636;
  --e-global-color-secondary: #0A0A0A;
  --e-global-color-text: #0A0A0A;
  --e-global-color-accent: #FBFBFF;
  --e-global-color-48c39ab1: #FFFFFF;
  --e-global-color-60af91f: #02ACE4;
  --e-global-color-6afc83e: #5AF4DE;
  --e-global-color-1c3dc1a: #FF931E;
  --e-global-color-fbfdd5e: #FFE105;
  --e-global-color-0556f3d: #16ADEB;
  --e-global-color-8311110: #787A7E;
  --e-global-typography-primary-font-size: 50px;
  --e-global-typography-primary-font-weight: bold;
  --e-global-typography-primary-line-height: 1em;
  --e-global-typography-primary-letter-spacing: 0px;
  --e-global-typography-secondary-font-size: 45px;
  --e-global-typography-secondary-font-weight: bold;
  --e-global-typography-secondary-line-height: 1.2em;
  --e-global-typography-text-font-size: 19px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-text-line-height: 1.4em;
  --e-global-typography-text-letter-spacing: 0px;
  --e-global-typography-accent-font-size: 22px;
  --e-global-typography-accent-font-weight: bold;
  --e-global-typography-accent-line-height: 1.2em;
  --e-global-typography-accent-letter-spacing: 0px;
}